body{
    margin: 0%;

}
.header{
    background-color: #353535;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

.logoA{
display: flex;
justify-content: flex-start;


}

.logo{
    padding: 10px;
    margin-left: 10px;

    width: 100px;

}
.navGlobal{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
}
.explorar{
    margin-right: 25px;
    text-decoration-line:none;
    font-family: Roboto;
    font-style: normal;
    color: white;
    font-size: 13px;
}
.explorar:hover{
    font-size: 16px;  

}
.cate{
    margin-right: 25px;
    text-decoration-line:none;
    font-family: Roboto;
    font-style: normal;
    color: white;
    font-size: 13px;
}
.cate:hover{
    font-size: 16px;  

}
.Global{
    margin-top: 0px;
    margin-left: 25px;
}
.botones{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 10px;
    
    
}
.IniciarSesion{
    margin-right: 25px;
    font-family: Roboto;
    font-style: normal;
    font-size: 13px;
    background:#BF1B3C;
    color: white;
    border-style: none;

}
.Registrarse{
    
    font-family: Roboto;
    font-style: normal;
    font-size: 13px;
    background:#BF1B3C;
    color: white;
    border-style: none;

}
.section1{
    background-color: #353535;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Fondo{
   
    

}
.Fondo1{

    width: 115%;
}
.section2{
    height: 100000px;
  
    background-color: #353535;
}

